.container-project{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background: #e9ecef;
    border: none;
    display: flex;
    align-items: center;
    
}
.card img{
width: 250px;
height: 140px;
margin: auto;
padding: 0;
border: 1px solid #e9ecea;
border-radius: 5px;
}

.card a{
    margin: auto;
    text-decoration: none;
    border: none;
    background:#242e4c;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    padding: 4px;
    margin-bottom: 0.5rem;
    opacity: 0.5;
}
.car a:hover{
background-color:#8094cf ;
color: rgb(231, 195, 195);
transform: scale(1.1);
opacity: 1;
}
.card p{
    font-size: 0.7rem;
}