.container-project{
    
}
.card{
    width: 100%;
    margin: auto;
    background: #e9ecef;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.card img{
width: 20rem;
height: 20rem;
margin: auto;
padding: 0;
border: 1px solid #e9ecea;
border-radius: 5px;
}

.card a{
    margin: auto;
    text-decoration: none;
    border: none;
    background:#242e4c;
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    padding: 4px;
    margin-bottom: 0.5rem;
}